<h1>Your Current Lists</h1>

<% if @lists.any?() %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>

<div class="container">
  <a href="/">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
